body {
	background-image: url("../images/Notebook-background4a.jpg");
	background-repeat: no-repeat;
	text-align: center;
}
input {
	background-color: transparent;
	border-color: gray;
	border: 0px;
	border-bottom: solid 3px;
	height: 30px;
	width: 200px;
} 
.title {
	margin-top: 185px;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.25rem;
}
.additems {
	font-family: 'Signika', sans-serif;
	font-size: 1.25rem;
}
.addbutton {
	position: absolute;
	top: 265px;
	left: 800px;
}
.container {
	width: 800px;
	position: absolute;
	left: 300px;
	top: 350px;
}
.columns {
	width: 500px;
	margin: 0 auto;
}
h3 {
	font-family: 'Kaushan Script', cursive;
}
.items {
	height: auto;
	text-align: center;
}
.list {
	font-family: 'Signika', sans-serif;
	font-size: 1.25rem;
}
.purchased {
	width: 150px;
	float: left;
	height: auto;
	text-align: center;
}
.remove {
	width: 100px;
	float: left;
	height: auto;
}
.remove > ul {
	list-style: none;
}
.clear {
	clear: both;
}
span {
	margin-right: 30px;
	margin-left: 10px;
}
.checkmark {
	background-image: url("../images/checkmark20.png");
	vertical-align: center;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	margin-left: 40px;
	margin-right: 40px;
}
.minus {
	vertical-align: center;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	margin-left: 40px;
	margin-right: 40px;
}
